#mainBody{
    margin-left: 25%;
    margin-right: 25%;
    border: gray thin solid;
    padding:10px;
}
#changeModeButton{
    position: relative;
    top: 25px;
    left: 80%;
}
p.inner_module{
    display: inline;
    margin-right: 20px;
}
.inner_module_long{
    line-height: 10px;
    margin-bottom: 30px;
}